<div class="container">
	<h3><i>Its Free!!!</i></h3>
	<div class="well">
		<form>
			<table>
				<tr>
					<td><label>Your Name:</label></td>
				</tr>
				<tr>
					<td><input type="text"/></td>
				</tr>
				<tr>
					<td><label>Email</label></td>
				</tr>
				<tr>
					<td><input type="text"/></td>
				</tr>
				<tr>
					<td><label>Password</label></td>
				</tr>
				<tr>
					<td><input type="password"/></td>
				</tr>
			</table>
			<br>
			<button class="btn btn-primary">Create</button>
		</form>
		<br>
		<a ng-click="backToHome();">Back</a>
	</div>
</div>